/* Input Dialog */

.pt-input {
  width: 100%;
}

/* font family  */

/* .driver-screen > section {
  font-family: 'Raleway';
} */

/* driver item Screeen */

.driver-screen .driver-item {
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.09); */
  border-radius: 5px;
  transition: all .3s;
  cursor: pointer;
  margin-bottom: 5px;
}

.driver-screen .driver-item:nth-child(even) {
  background-color: #e5ebeb;
}

.driver-screen .driver-item:hover {
  background-color: #d3d8d8;
 }

.driver-screen .driver-item .driver-infos > img {
  border-radius: 64px;
  margin-right: 30px;
  width: 8%;
}

.driver-screen .driver-item .driver-infos > h3 {
  font-size: 18px;
  font-weight: 400;
}

.driver-screen .driver-item > a {
  color: rgba(0, 0, 0, 0.09);
  padding: 10px;
  transition: all .3s;
}

.driver-screen .driver-item > a:hover {
  color: #106ba3;
} 

.driver-screen .driver-item .driver-infos {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.driver-screen section > .spinner-three-bounce {
  color: #e8764d;
  margin: auto;
}

.driver-screen > section .blank-list-page {
  color: rgba(255, 0, 0, 0.3);
  text-align: center;
  margin: auto;
}

/* Driver Details Screen */

/* .driver-screen #driver-section {
   flex-wrap: wrap;
} */

.driver-screen .driver-details-info {
  display: flex;
  /* flex-direction: row; */
  /* flex-grow: 1; */
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 3px;
  margin-bottom: 5px;
  background-color: #e7eeef;
}

.driver-screen .driver-details-info .img-name {
  margin-right: 30px;
  margin-bottom: 10px;
  padding: 10px;
  padding-bottom: 0;
  text-align: center;
}

.driver-screen .driver-details-info .img-name > img {
  border-radius: 7px;
  margin-bottom: 5px;
}

.driver-screen .driver-details-info .img-name > h4 {
  padding: 0;
  margin: 0;
  font-size: 19px;
  font-weight: 400;
}


.driver-screen .driver-details-info .informations {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
}

.driver-screen .driver-details-info .informations  p {
  margin: 0;
  padding: 0;
}

.driver-screen .driver-details-info .informations .phone-container, .registration-container, .note-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.driver-screen .driver-details-info .informations .container-title {
  font-size: 16px;
  font-weight: 500;
  margin-right: 20px;
}

/* .driver-screen .driver-details-info .informations > h4 {
   margin-bottom: 10px;
} */

/* .driver-screen .driver-details-info > img {
   border-radius: 56px;
   padding: 10px;
   height: 8em;
} */

.driver-screen .map-card-container{
  display: flex;
  flex-grow: 1;
}

.driver-screen .map-card-container .driver-map-container {
  background-color: peru;
  flex-grow: 2;
  position: relative;
}

.driver-screen .map-card-container .driver-map-info {
  width: 100%;
  height: 100%;
  position: absolute;
}

.driver-screen .map-card-container .driver-card-info {
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  background-color: #e7eeef;
  margin-left: 5px;
  padding: 10px;
}

.driver-screen .map-card-container .driver-card-info > h5,
.driver-screen .map-card-container .driver-card-info > p {
  margin: 0;
}

.driver-screen .map-card-container .driver-card-info > p {
  text-align: center;
  font-weight: 300;
  padding: 10px
}

.driver-screen .map-card-container .driver-card-info .driver-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* .driver-screen .map-card-container .driver-card-info .pt-progress-bar {
  width: 25%;
} */


