/* Inputs Dialogs */

.pt-input {
  width: 100%;
}

.cars-screen > section .blank-list-page > a {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  transition: all .3s;
}

.cars-screen > section .blank-list-page > a:hover {
  color: #e8764d;
}

.cars-screen > section .no-car-found-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.cars-screen > section .no-car-found-container > button {
  cursor: pointer;
  outline: none;
}

/* car Item  */

.cars-screen section > .spinner-three-bounce {
  color: #e8764d;
  margin: auto;
}

.cars-screen > section .blank-text-page {
  color: rgba(255, 0, 0, 0.3);
  text-align: center;
  margin-bottom: 20px;
}

.cars-screen .car-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.09); */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: all .3s;
}
.cars-screen .car-item .car-infos {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.cars-screen .car-item:nth-child(odd) {
  background-color: #e5ebeb;
}

.cars-screen .car-item:hover {
  background-color: #d3d8d8;
 }

 .cars-screen .car-item > a {
  color: rgba(0, 0, 0, 0.09);
  padding: 10px;
  transition: all .3s;
}

.cars-screen .car-item > a:hover {
  color: #106ba3;
} 
.cars-screen .car-item .car-infos > h3 {
  font-size: 18px;
  font-weight: 300;
  margin-right: 20px;
}

.cars-screen .car-item .car-infos > p {
  color: #8b9292ab;
  transition: all .3s;
}

.cars-screen .car-item .car-infos > p:hover {
  color: #8b9292;
}


/* Car Details */

.cars-screen .edit-btn {
  min-width: 43px;
  border-radius: 0px;
  background: none;
  cursor: pointer;
  outline: none;
  transition: all .3s;
}

.cars-screen .zmdi-icon:hover {
  color: #106ba3; 
}

.cars-screen .car-title {
  /* background-color: aquamarine; */
  display: flex;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.5); */
  align-items: center;
  padding: 20px;
  padding-bottom: 0;
  margin-bottom: 7px;
  justify-content: space-around;
}

.cars-screen .car-title .image-wrapper {
  width: 190px;
  height: 125px;
  /* margin-right: 20px; */
}
.cars-screen .car-title .image-wrapper > img {
  width: 100%;
  height: 100%;
}

.cars-screen .zmdi-car {
  margin-right: 30px;
}

.cars-screen .car-title .informations-wrapper {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
}

.cars-screen .name-wrapper, .matricule-wrapper {
  display: flex;
  margin-bottom: 10px;
}

.cars-screen .car-title .informations-wrapper .name-wrapper > p:nth-child(1),
.cars-screen .car-title .informations-wrapper .matricule-wrapper > p:nth-child(1)  {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  min-width: 8em;
}

.cars-screen .car-title .informations-wrapper .name-wrapper > p:nth-child(2),
.cars-screen .car-title .informations-wrapper .matricule-wrapper > p:nth-child(2)  {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  color: #747672a6;
}

.cars-screen .car-content {
  /* background-color: rgb(55, 80, 72); */
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
}
