/* Inputs Dialogs */

.pt-input {
  width: 100%;
}

/* car Item  */

.cars-screen section > .spinner-three-bounce {
   color: #e8764d;
   margin: auto;
}

.cars-screen > section .blank-list-page {
  color: rgba(255, 0, 0, 0.3);
  text-align: center;
  margin: auto;
}

.cars-screen .car-item {
   margin-bottom: 10px;
}

.cars-screen .car-item .car-header {
   display: flex;
   justify-content: space-between;
}