/* .trips-screen No Trips */

.trips-screen > section .blank-list-page > a {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  transition: all .3s;
}

.trips-screen > section .blank-list-page > a:hover {
  color: #e8764d;
}

/* Trip Items */

.trips-screen .trip-item {
  padding: 13px 11px;
  font-weight: 300;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.09); */
  cursor: pointer;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 5px;
}

.trips-screen .trip-item:nth-child(even) {
  background-color: rgba(210, 204, 202, 0.3);
}

.trips-screen .trip-item .item-icon {
   color: #e8764d;
   font-size: 19px;
   margin-right: 8px;
}

.trip-item li {
	list-style-type: none;
}

.trip-item li:nth-child(1),
.trip-item li:nth-child(2) {
   margin-bottom: 9px;
}

.trip-item ul {
   padding: 0;
   margin: 0;
   display: block;

}

/* .trips-screen .trip-item li:nth-child(1){
   margin-bottom: 10px;
} */

.trips-screen .trip-item:hover {
  background-color: rgba(167, 164, 163, 0.3);
  transition: all .3s;
}

/* .trips-screen .trip-item .trip-content {
  margin-right: 3em;
} */

.trips-screen .trip-item .isActive {
  display: block;
}

.trips-screen .trip-item p {
  text-decoration: none;
  color: #555758;
  margin: 0;
}

/* Trip Details */

.trips-screen .pt-button {
  min-width: 43px;
  border-radius: 0px;
  background: none;
  cursor: pointer;
  outline: none;
  transition: all .3s;
}

.trips-screen .zmdi:hover {
  color: #106ba3; 
}

.trips-screen .trip-map {
  flex-grow: 1;
  position: relative;
  background-color: rgba(10, 8, 8, 0.3);
}

/* .trips-screen .trip-details-info {
   color: red;
} */

.trips-screen .trip-detail {
  position: absolute;
  top: 83px;
  right: 23px;
  border-radius: 3px;
  padding: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.trips-screen .trip-map .map-container {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 3px 3px;
  padding-top: 38px;
}

.trips-screen .trip-map > h3 {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 30px;
  top: 6px;
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6)
}

.trips-screen .trip-detail span {
  padding: 5px;
}

/* Inputs Dialog */

.pt-input {
  width: 100%;
}

/* Error items section */

.trips-screen > section .blank-list-page {
   color: rgba(255, 0, 0, 0.3);
   text-align: center;
   margin: auto;
}

.trips-screen .blank-details-page {
   color: rgba(255, 0, 0, 0.3);
   margin: auto;
   /* text-align: center;
   margin: auto; */
}

.trips-screen section > .spinner-three-bounce {
   color: #e8764d;
   margin: auto;
}
/* //border: transparent solid 1px; */