#sidebar {
  width: 250px;
  background: #e8774e;
  display: flex;
  flex-direction: column;
  z-index: 9999;
}

#sidebar-backdrop {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 9998;
  background: rgba(0,0,0,.07);
}

@media (max-width: 1040px) {
  #sidebar {
    width: 210px;
  }
}

@media (max-width: 870px) {
  #sidebar {
    width: 250px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    transform: translateX(-250px);
    transition: all .3s;
  }

  #sidebar.is-open + #sidebar-backdrop{
    display: block;
  }

  #sidebar.is-open {
    transform: translateX(0);
  }
}

/* SideBar Content */

#sidebar .logo {
  font-size: 40px;
  text-decoration: none;
  text-align: center;
  padding: 12px 0;
  color: #fff;
}

#sidebar .nav-list {
  margin-top: 25px;
}

#sidebar .nav-list ul {
  padding: 0;
  margin: 0;
}

#sidebar .nav-list li {
  list-style: none;
}

#sidebar .nav-list a {
  display: block;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 22px 30px;
  text-decoration: none;
  transition: all .3s;
  border-top: 2px solid rgb(255, 255, 255, 0.05);
}

#sidebar .nav-list .active,
#sidebar .nav-list a:hover {
  background-color: rgba(255, 255, 255, .2);
  color: white;
}
