
.container {
  width: 100%;
  display: flex;
}

.container .form-login {
  display: flex;
  flex-direction: column;
  margin: 70px auto;
  width: 400px;
}

.container .form-login .logo{
  text-align: center;
  /* margin-top: 60px; */
  margin-bottom: 20px;
}

.container .form-login .error-message {
  color: rgb(255, 159, 159);
  margin-top: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.container .form-login .form-signin-heading {
  text-align: center;
  margin-bottom: 30px;
}

/* .container .form-login .pt-input-group {
  margin-bottom: 20px;
} */

.container .form-login .signin-button {
  border: none;
  outline: none;
  background-color: #e8774e;
  padding: 20px;
  margin-top: 20px;
  transition: all .3s;
}

.container .form-login .signin-button:hover {
  background-color: rgba(232, 119, 78, 0.918);
}

.container .form-login > a {
  margin-top: 5px;
  text-align: center;
}