.accounts-screen .account-header{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  padding: 12px;
  margin-bottom: 10px;
  background-color: rgba(217,130,43, .15);
}

.accounts-screen .account-header .zmdi-account-add {
  margin-right: 20px;
  color: #106ba3;
}

.accounts-screen .account-header > h5 {
  font-size: 20px;
  font-weight: 200;
  margin: 0;
}

.accounts-screen > section .account-form-container{
  display: flex;
  flex-direction: row;
}

.accounts-screen > section .pt-label {
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 10px
}

.accounts-screen > section .account-form-container .account-form {
  flex-grow: 1;
  flex-shrink: 1;
}

.accounts-screen > section .account-form-container .account-form > span {
  color: rgb(248, 148, 148);
}

.accounts-screen > section .account-form-container .account-form .pt-button {
  background-color: rgba(156, 156, 156, 0.5);
  color: white;
  transition: all .3s;
  outline: none;
  cursor: pointer;
}

.accounts-screen > section .account-form-container .account-form .pt-button:hover:enabled {
  background-color: #136aa2;
}

.accounts-screen > section .account-form-container .account-form .submit-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}

.accounts-screen > section .account-form-container .account-form .submit-container > p {
  margin: 0;
  margin-left: 10px;
  color: rgb(255, 123, 123);
}

.accounts-screen > section .account-form-container .accounts-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: 30px;
}


.accounts-screen > section .account-form-container .accounts-list > h6 {
  text-align: center;
  margin-bottom: 15px;
}

.accounts-screen > section .account-form-container .accounts-list .account-item-container > h6 {
  margin: 0 5px;
  font-size: 14px;
  font-weight: 500;
}

.accounts-screen > section .account-form-container .accounts-list .account-item-container > p {
  margin: 0;
  color: #777777;
}

.accounts-screen > section .account-form-container .accounts-list .account-item-container {
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ece4da;
  padding: 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  margin-bottom: 5px;
  border-radius: 3px;
  color: #136aa2
}

.accounts-screen > section .account-form-container .accounts-list .account-item-container > a {
  outline: none;
}

.accounts-screen > section .account-form-container .accounts-list .scrollable-div {
  overflow: scroll;
  height: 370px;
  /* padding: 5px */
}

.accounts-screen > section .account-form-container .accounts-list .list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.accounts-screen > section .account-form-container .accounts-list .list-header >h6 {
  font-size: 18px;
  font-weight: 300;
  color: #136aa2; 
  margin: 0;
  margin-left: 10px;
}
.accounts-screen > section .account-form-container .accounts-list .list-header .zmdi-accounts-list {
  color: #136aa2;
}

@media (max-width: 980px) {
  .accounts-screen > section .account-form-container{
    flex-direction: column;
  }

  .accounts-screen > section .account-form-container .accounts-list {
    margin-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.09);
    padding: 10px;
    margin-left: 0;
  }
}