/* Inputs Dialog */

.pt-input {
  width: 100%;
}

/* .cards-screen #cards-container{
   flex-direction: row;
   flex-wrap: wrap;
   flex-grow: 0;
} */

.cards-screen #cards-container .pt-card {
   margin-top: 10px;
}


/* section */
/* 
display
*/