/* Inputs Dialog */

.pt-input {
  width: 100%;
}

/* Buttons */


/* No drivers Items */

.cards-screen > section .blank-list-page > a {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  transition: all .3s;
}

.cards-screen > section .blank-list-page > a:hover {
  color: #e8764d;
}

/* End  */

/* .cards-screen #cards-container{
   flex-direction: row;
   flex-wrap: wrap;
   flex-grow: 0;
} */

/* .cards-screen #cards-container .pt-card {
   margin-top: 10px;
} */


/* section */

.cards-screen .card-item {
  margin-bottom: 10px;
}

.cards-screen .card-item .card-header {
  display: flex;
  justify-content: space-between;
}

.card-edit-button {
  background-color: white;
  padding: 0;
  border-radius: 1px;
  height: 30px;
  width: 38px;
  cursor: pointer;
  outline: none;

}

.cards-screen .zmdi, .btn-edit {
  cursor: pointer;
}

.cards-screen .btn-edit {
  width: 100%;
}

.cards-screen .zmdi:hover {
  color: #106ba3; 
}

.cards-screen > section .blank-list-page {
  color: rgba(255, 0, 0, 0.3);
  text-align: center;
  margin: auto;
}

.cards-screen section > .spinner-three-bounce {
  color: #e8764d;
  margin: auto;
}



